@use './variables' as *;



// .container {
//     max-width: 180px;
//     margin: 0 auto;
// }


h1 {
    font-size: 3em;
    font-weight: 600;
    color: $black;
}

h2 {
    font-size: 2em;
    font-weight: 600;
    color: $black;
}

p {
    font-size: 1em;
    font-weight: 500;
    line-height: 1.5;
    color: $grey-500;
}