// ## Colors

// ### Primary

$white: hsl(0, 100%, 100%);
$grey-500: hsl(0, 0%, 63%);
$grey-800: hsl(0, 0%, 27%);
$black: hsl(0, 0%, 0%);


// spacing
$xs-space: 1em;
$sm-space: 1.5em;
$md-space: 2em;
$lg-space: 3em;